<ion-header>
  <ion-toolbar color="primary" sticky>
    <ion-title>
      Schedule
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let event of events">
        <ion-card>
          <img src="{{ event.strThumb }}" alt="" srcset="">
          <ion-card-header>
            <ion-card-title>{{ event.strEvent }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><ion-icon name="today"></ion-icon>{{ event.dateEvent|date:'dd MMM yyyy' }}</p>
            <p><ion-icon name="time"></ion-icon>{{ formatJam(event.strTime)}} WIB</p>
            <p><ion-icon name="location"></ion-icon>{{ event.strVenue }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="cont-week">
    <ion-button (click)="previousRound()">Previous</ion-button>
    <ion-label>
      Week {{ selectedRound }}
    </ion-label>
    <ion-button (click)="nextRound()">Next</ion-button>
  </div>
  <ion-toolbar>
  </ion-toolbar>
</ion-content>